.wrapper {
	@include flexbox;
	@include flex-wrap(wrap);
	width: 200px;
	min-height: 40px;

	.cell {
		width: 20%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 32px 32px;
		min-height: 40px;
		display: inline-block;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		opacity: 0.1;
		border-radius: 20px;

		&.third {
			width: 33%;
		}

		&.quarter {
			width: 25%;
		}

		&.fifth {
			width: 20%;
		} 

		&.on {
			-webkit-filter: none;
			filter: none;
			opacity: 1;
		}

		&.cubeOfZoe {
			background-image: url('../../icons/cubeOfZoe.png');
		}
		&.faerieScroll {
			background-image: url('../../icons/faerieScroll.png');
		}
		&.jewelOfOpen {
			background-image: url('../../icons/jewelOfOpen.png');
		}
		&.leapStone {
			background-image: url('../../icons/leapStone.png');
		}
		&.gravityBoots {
			background-image: url('../../icons/gravityBoots.png');
		}
		&.mermanStatue {
			background-image: url('../../icons/mermanStatue.png');
		}
		&.holySymbol {
			background-image: url('../../icons/holySymbol.png');
		}
		&.spiritOrb {
			background-image: url('../../icons/spiritOrb.png');
		}
		&.soulOfBat {
			background-image: url('../../icons/soulOfBat.png');
		}
		&.echoOfBat {
			background-image: url('../../icons/echoOfBat.png');
		}
		&.fireOfBat {
			background-image: url('../../icons/fireOfBat.png');
		}
		&.forceOfEcho {
			background-image: url('../../icons/forceOfEcho.png');
		}
		&.formOfMist {
			background-image: url('../../icons/formOfMist.png');
		}
		&.powerOfMist {
			background-image: url('../../icons/powerOfMist.png');
		}
		&.gasCloud {
			background-image: url('../../icons/gasCloud.png');
		}
		&.soulOfWolf {
			background-image: url('../../icons/soulOfWolf.png');
		}
		&.powerOfWolf {
			background-image: url('../../icons/powerOfWolf.png');
		}
		&.skillOfWolf {
			background-image: url('../../icons/skillOfWolf.png');
		}
		&.faerieCard {
			background-image: url('../../icons/cardFaerie.png');
		}
		&.demonCard {
			background-image: url('../../icons/cardDemon.png');
		}
		&.batCard {
			background-image: url('../../icons/cardBat.png');
		}
		&.ghostCard {
			background-image: url('../../icons/cardGhost.png');
		}
		&.swordCard {
			background-image: url('../../icons/cardSword.png');
		}
		&.eyeOfVlad {
			background-image: url('../../icons/eyeOfVlad.png');
		}
		&.ribOfVlad {
			background-image: url('../../icons/ribOfVlad.png');
		}
		&.heartOfVlad {
			background-image: url('../../icons/heartOfVlad.png');
		}
		&.toothOfVlad {
			background-image: url('../../icons/toothOfVlad.png');
		}
		&.ringOfVlad {
			background-image: url('../../icons/ringOfVlad.png');
		}
	}

}